<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fingerBand" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:name="fingerBand.AndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="fingerBand.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:value='@string/facebook_app_id' android:name="com.facebook.sdk.ApplicationId"/>

        <!--this activity use FacebookActivity for logining and sharing -->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="fingerBand.activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <!--this provider use FacebookContentProvider for sending images or videos-->
        <provider android:authorities="com.facebook.app.FacebookContentProvider649927185106839"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    </application>

</manifest>
